server:
  port: 8082

spring:
  application:
    name: product-service

  docker:
    compose:
      enabled: false

  datasource:
    url: jdbc:postgresql://localhost:5432/product_db
    username: product_user
    password: product_pass

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

management:
  endpoints:
    web:
      exposure:
        include: health
